/* 
*
* App: Edwin Clark University website
* This css file is for the above application
*
*/

.fh5co-nav .top {
    background: #3882be;
}

.fh5co-nav .top p.num {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}

.fh5co-nav .top .fh5co-social {
    border-color: rgba(255, 255, 255, 0.8);
}

.fh5co-nav .top .fh5co-social li a {
    color: rgba(255, 255, 255, 0.8);
}

.fh5co-nav #fh5co-logo a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 110px;
    padding: 0;
}

.fh5co-nav #fh5co-logo a span{
    color: #2d6bde;
}

aside#fh5co-heading {
    background: #6e8de7;
    min-height: 200px;
    height: auto;
    position: relative;
}

#fh5co-heading .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#fh5co-heading .heading-section {
    color: #e5e9fa;
}